body{

font-family:sans-serif;

background:#f2f2f2;

}



.container{

max-width:600px;

margin:auto;

padding:20px;

}



.card{

background:white;

padding:20px;

margin-bottom:20px;

border-radius:20px;

box-shadow:0 3px 10px #ccc;

}



button{

padding:10px 20px;

border:none;

border-radius:10px;

cursor:pointer;

}



input{

padding:10px;

margin:5px;

border-radius:10px;

border:1px solid #ccc;

}



.bar{

height:20px;

background:#ddd;

border-radius:20px;

overflow:hidden;

}



#xpBar{

height:100%;

width:0%;

background:#4caf50;

}



#settingMenu{

display:none;

margin-top:20px;

}



#studyList input{

width:60px;

}
